<body>
{% include '@gen_pio_theme/layout/header.html.twig' %}


<!--carousel start -->
  <main>
    {% include '@gen_pio_theme/layout/carousel.html.twig' %}
  </main>
  <!--carousel end -->

<!--First section start -->
  <main>
    {% include '@gen_pio_theme/layout/firstsection.html.twig' %}
  </main>
  <!--First section end -->

  <!--Second section start -->
  <main>
    {% include '@gen_pio_theme/layout/secondsection.html.twig' %}
  </main>
  <!--Second section end -->
</body>
